html {
  background-color: rgb(30, 30, 30);
}

.page-title {
  font-size: 64px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
