header {
  width: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 4rem;
  left: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
  padding: 2rem;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.2s ease-in-out;
  border: 0.15rem solid transparent;
  padding: 1rem;
}

nav a:hover,
nav a:focus {
  transition: 0.2s ease-in-out;
  border: 0.15rem solid white;
}
