header {
  max-width: 100%;
  background-color: transparent;
  color: white;
  padding: 2rem;
  border-bottom: 3px solid white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

nav a:hover,
nav a:focus {
  color: white;
}
